#Main{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border: 2px solid black;
    width: 60vw;
    padding: 25px;
    box-shadow: 0 0 10px 0;
}
.Input{
    width: 100%;
    padding: 5px;
    overflow: hidden;
}
img{
    transform: scale(0.7);
}
.Input::after{
    content: "";
    display: block;
    border-bottom: 1px solid;
    width: 90%;
}
.TwoInputs{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.TwoInputs > .Input{
    width: 45%;
}
input{
    border: none;
}
input:focus{
    outline: none;
}
form{
    display: flex;
    align-items: center;
}
#PersonalDetails{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#Agreement{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: left;
}